#into{
    background-color:rgb(145, 207, 124);
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

.top {
    width: 1300px;
    margin: auto;
}

/* nav bar */

.navbar {
    padding: 0%;
    margin: 0%;
}

.nav-link {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.nav-link div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

/* nav bar 2 */

.line2 {
    display: flex;
    align-items: start;
}

.drop-down {
    margin: 0 10px;
    width: 250px;
    font-size: 21px;
    text-align: start;
}

.dropdown_item {
    width: 250px;
    font-size: 21px;
}

.blue {
    color: #3a77ff;
}

.d-flex {
    margin: 0 20px;
    width: 750px;
}

.sell{
    width: 100px;
}

/* tabs start here*/

.nav-tabs{
    margin-top: 150px;
}

.nav-item a {
    color: black;
}

/* all-cat */

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.cat {
    display: flex;
    flex-wrap: wrap;
}

.cat div {
    margin: 0 40px 0 10px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cat h5 {
    margin: 10px 0 10px 0;
    font-size: 15px;
}

/* cards */

.view {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h2 {
    margin: 30px 0 20px 10px;
}

.container{
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.cards {
    font-size: 16px;
}

.container img {
    object-fit: cover;
}

.card-body div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.discriptions {
    height: 50px;
}

.text {
    font-size: 12px;
    margin: 0%;
    margin-top: -20px;
}

.bottom {
    margin-top: 75px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
