.top {
    width: 1300px;
    margin: auto;
}

/* nav bar */

.navbar {
    padding: 0%;
    margin: 0%;
}

.nav-link {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.nav-link div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

/* nav bar 2 */

.line2 {
    display: flex;
    align-items: start;
}

.drop-down {
    margin: 0 10px;
    width: 250px;
    font-size: 21px;
    text-align: start;
}

.dropdown_item {
    width: 250px;
    font-size: 21px;
}

.blue {
    color: #3a77ff;
}

.d-flex {
    margin: 0 20px;
    width: 750px;
}

.sell{
    width: 100px;
}

/* tabs start here*/

.nav-tabs{
    margin-top: 150px;
}

.nav-item a {
    color: black;
}

/* breadcrumb */

.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/* carousel */

.slide {
    width: 100%;
    height: 500px;
}

.border {
    margin-bottom: 15px;
}

.carousel-item img {
    height: 500px;
    object-fit: contain;
}

/* product name */

.productname {
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-xl {
    margin: 5px;
}

/* product details */

.details {
    margin: 20px;
    display: flex;
}

.details p {
    width: 200px;
    margin: 0px;
    padding: 0px;
}

/* related adds */

.view {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h2 {
    margin: 30px 0 20px 10px;
}

.container{
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.cards {
    font-size: 16px;
}

.cards img {
    object-fit: cover;
}

.card-img-top {
    object-fit: cover;
}

.card-body div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.discriptions {
    height: 50px;
}

.text {
    font-size: 12px;
    margin: 0%;
    margin-top: -20px;
}


/* customer details */

.cusnmae {
    margin-bottom: 70px;
    padding: 20px 15px;
}

.cusnmae .details {
    align-items: center;
}

.details img {
    margin-left: -25px;
    margin-right: 10px;
}

.details p {
    font-size: 14px;
}



/* footer starts here */

.footer {
    padding: 10px 0 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
}

.icon {
    padding: 3px;
}

.play {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.play img {
    margin: 2px;
}

.end {
    padding-right: 20px;
    background-color:rgb(0, 50, 50);
    color: white;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}
